asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
cycler==0.10.0
distlib==0.3.2
Django==3.2.7
execnet==1.9.0
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mysql-connector-python==8.0.26
numpy==1.21.2
packaging==21.0
pep8==1.7.1
Pillow==8.3.2
pipenv==2018.11.26
platformdirs==2.3.0
pluggy==1.0.0
psycopg2-binary==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.7.2
virtualenv-clone==0.5.6
vsearch==1.0
Werkzeug==2.0.1
wxPython==4.1.1
