{% extends "base.html" %}
{% block title %}{{post.title|title}}{% endblock %}
{% block content %}
<h1>{{post.title|title}}</h1>
<h2 class='h5' style='margin: 15px 0'>
{% if post.tags.all %}Tags: {% for tag in post.tags.all %}<a href="{% url 'tag' tag.slug %}">{{tag.title}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
</h2>
<hr />
<h3>Post published on {{post.publish}}</h3>
<div>{{post.body|linebreaks}}</div>
<a href="{% url 'share' post.id %}" class='btn btn-info mr-4 mt-4 mb-4' id='shareBtn'>Share Post</a>
<button class='btn btn-primary mr-4 mt-4 mb-4' id='show'>Add Comment</button>
{% if comments %}
<h2 class='h5'>Comments</h2>
{% endif %}
{% for comment in comments %}
<div class='card mr-3 mt-3 mb-3'>
<div class='card-header'>
{{comment.author}}
</div>
<div class='card-body'>
{{comment.body|linebreaks}}
{{comment.created}}
</div>
</div>
{% empty %}
<p>No comments yet</p>
{% endfor %}
<div id='comment' class='shadow-lg p-5'>
<form method='POST'>
{{comment_form.as_p}}
{% csrf_token %}
<button type='submit' class='btn btn-success'>Submit</button>
<button class='btn btn-info' id='cancel'>Cancel</button>
</form>
</div>
{% endblock %}
{% block scripts %}
let inputs = document.querySelectorAll('input');
let textArea = document.querySelector('textarea')
for(let input of inputs){
    input.className = 'form-control'
}
let comment = document.querySelector('#comment'), show = document.querySelector('#show'); 
showdis = show.style.display
comment.style.display = 'none';
show.addEventListener('click', ()=>{
    comment.style.display = 'block';
    show.style.display = 'none';
})
textArea.className = 'form-control';

let cancel = document.querySelector('#cancel')
cancel.addEventListener('click', ()=>{
    cancel.style.display = 'none'
    comment.style.display = 'none'
    show.style.display = showdis
})
{% endblock%}
