{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class='card m-3 shadow-lg'>
    <div class='card-header'>
        <h1 class='mb-3 mt-3 h3'><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
        {% if post.tags.all %}
        <h2 class='h4'>Tags:
        {% for tag in post.tags.all %}
        <a href="{% url 'tag' tag.slug %}">{{tag.title}}</a>{% if not forloop.last %}, {%endif %}
        {% endfor %}
        </h2>
        {% endif %}
    </div>
    <div class='card-body'>
        {{post.body|linebreaks|truncatewords:30}}
    </div>
</div>
{% endfor %}
{% endblock %}
