{% extends "base.html" %}
{% block title %}Share {{post.title|title}}{% endblock %}
{% block content %}
<div class='jumbotron'>
    <h1>Share <a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
    <form method='POST'>
    {{form.as_p}}
    {% csrf_token %}
    <button type='submit' class='btn btn-primary'>Share</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
let inputs = document.querySelectorAll('input');
let textArea = document.querySelector('textarea')
for(let input of inputs){
    input.className = 'form-control'
}

textArea.className = 'form-control';

{% endblock%}