{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel='stylesheet' href='{% static "css/bootstrap.css" %}'>
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class='container'>
            <h1 style='margin:30px 20px'><a href="{% url 'list' %}">Blog</a></h1>
            <hr />
            <div class='row'>
            <div class='col-md-8'>
            {% block content %}
            {% endblock %}
            </div>
            <div class='col-md-4'>
                <h1 class='h3'>Latest posts</h1>
                {% show_latest_posts %}
                <h1 class='h3'>Most commented posts</h1>
                {% show_most_commented_posts as most_commented_posts %}
                {% for post in most_commented_posts %}
                <li>
                    <a href='{{post.get_absolute_url}}'>{{post.title}}</a>
                </li>
                {% endfor %}
                <h1 class='h3 mt-3 mb-3'><a href="{% url 'feed' %}">Subscribe to RSS Feed</a></h1>
            </div>
            </div>
        </div>
        <script src='{% static "js/jquery-3.5.1.min.js" %}'></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
        <script>
            {% block scripts %}{% endblock %}
        </script>
    </body>
</html>